body {

	background-color: lightgray;
}

* {
	box-sizing: border-box;
}

.wrapper {

	width: 960px;
	margin:0px auto;

}

#button-display {

	
	margin:10px 10px;

}

#image-display {
	width: 620px;
	margin:10px 10px;
	float:left;
}

#side-bar {

	width: 300px;
	height: 100px;
	margin:10px 10px;
	float: left;
	
}

button {

	background-color: lightblue;
	margin: 5px;
}
.gif {
	float:left;
	margin:10px;
}

label,input {

	margin: 5px;


}